<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new transaction from Loanify!</h1>
    <p>
      View it on your app
    </p>
  </body>
</html>