<form action="/welcome/post_transaction" method="post">
  First name: <input type="text" name="First_Name"><br>
  Last name: <input type="text" name="Last_Name"><br>
  Borrower Key: <input type="text" name="BorrowerKey"><br>
  Amount: <input type="text" name="Amount"><br>
  Today's Date: <input type="text" name="Date" value=<%= Time.now.to_i %>><br>
  Description: <input type="textbox" name="Description"><br>
  <input type="submit" value="Submit">
</form>

<p>
	<a href="/welcome/home">Go back home</a>
</p>