<div class="greeting">
	hello, <strong><%= @user %></strong>
</div>

<a href="/welcome/profile" id="profile">MY PROFILE</a>
<a href="/welcome/create_transaction" id="create_transaction">CREATE TRANSACTION</a>
<a href="/welcome/iou" id="iou_button">IOUs</a>
<a href="/welcome/uoi" id="uoi_button">UOIs</a>
