@import url("http://fonts.googleapis.com/css?family=Lato:100,400");
@media only screen and (min-device-width: 480px) {
  .container {
    margin: 0 auto;
  }
}
body .container .content {
  margin-top: 65px;
}
body .greeting {
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}
body #log_out,
body #go_home {
  display: block;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0;
}
body .create_transaction_container {
  padding: 20px;
}
body .create_transaction_container #create_transaction {
  width: 100%;
}
body .create_transaction_container #create_transaction .twitter-typeahead {
  width: 100%;
}
body .create_transaction_container #create_transaction input,
body .create_transaction_container #create_transaction select {
  width: 100%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */

  margin-top: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #f1f2f3;
}
body .create_transaction_container #create_transaction .profile_pic {
  border-radius: 50%;
  width: 30px;
  vertical-align: middle;
  margin-right: 20px;
}
body .create_transaction_container #create_transaction #submit {
  background-color: #3ab8c6;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
body #profile,
body #c_transaction,
body #iou_button,
body #uoi_button {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}
body #profile:hover,
body #c_transaction:hover,
body #iou_button:hover,
body #uoi_button:hover,
body #profile:active,
body #c_transaction:active,
body #iou_button:active,
body #uoi_button:active {
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
}
body .transaction {
  background: #5fd2b5;
  color: #ffffff;
  padding: 10px;
}
body .transaction .description {
  border-top: 1px dashed #ffffff;
  margin-top: 5px;
}
body .tabs {
  color: #fff;
  font-size: 8pt;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
  height: 23px;
}
body .tabs a {
  float: left;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  border-right: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body .tabs a:last-child {
  border-right: 0;
}
body .tabs .active {
  background-color: rgba(216, 216, 216, 0.59);
  color: #000;
}
@media only screen and (min-width: 780px) {
  body .container .content {
    margin-top: 0px;
  }
  body .create_transaction_container {
    width: 50%;
    margin: 0 auto;
  }
}
