@white: #ffffff;
@black: #000000;
@blue: #3AB8C6;
@one: #00A67C;
@two: #1F7C65;
@three: #006C51;
@four: #35D2AB;
@five: #5FD2B5;
@grey: #ccc;
@grey_2: #F1F2F3;
@red: red;
@text: #ddd;


@import url("http://fonts.googleapis.com/css?family=Lato:100,400");

body .container .content {
  margin-top: 65px;
}
@media only screen and (min-width: 780px) {
  body {
    background-color:#4CC1CF;
  }
  .container {
    background-color:white;
    margin: auto;
    margin-top:30px;
    height:850px;
    width:850px;
    border-radius:25px;
  }

  .create_transaction_container {
    padding:60px !important;
  }
  body .container .content {

   margin-top: 10px;
   display:inline-block;
   width:80%;
   }
}

.border(@r) {
	border-radius: @r;
}

body {
    .container {
			.content {
				margin-top: 65px;
			}
		}
	

	.greeting {
		color: @white;
		padding: 10px;
		text-transform: uppercase;
		text-align: center;
	}

	#log_out, #go_home {
		display:block;
		text-decoration: none;
		background: @white;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
		margin: 5px 0;
	}

	.create_transaction_container {
		padding: 20px;
		#create_transaction {
			width: 100%;
			.twitter-typeahead {
				width: 100%;
			}
			input, select {
				width: 100%;
				border: 0;
				padding: 10px;
				box-sizing:border-box;
				-moz-box-sizing:border-box; /* Firefox */
				margin-top: 0;
				border-radius: 0;
				-webkit-appearance: none;
				background-color: @grey_2;
			}
			.profile_pic {
				.border(50%);
				width: 30px;
				vertical-align: middle;
				margin-right: 20px;
			}
			#submit {
				background-color: @blue;
				text-transform: uppercase;
				color: @white;
				cursor: pointer;
			}
		}
	}
	#profile, #c_transaction, #iou_button, #uoi_button {
		display: block;
		padding: 20px;
		text-decoration: none;
		color: @white;
		font-weight: bold;
		text-align: center;
		border-bottom: 1px solid @white;
		&:hover, &:active {
			background: rgba(255, 255, 255, 0.50);
			color: @black;
		}
	}
	.transaction {
		background: @five;
		color: @white;
		padding: 10px;
		.description {
			border-top: 1px dashed @white;
			margin-top: 5px;
		}
	}
	.tabs {
	    color: #fff;
	    font-size: 8pt;
	    border: 1px solid #fff;
	    margin: 0;
	    padding: 0;
	    height: 23px;
	    a {
		    float: left;
		    color: #fff;
		    text-transform: uppercase;
		    text-decoration: none;
		    list-style-type: none;
		    width: 25%;
		    text-align: center;
		    margin: 0;
		    padding: 5px 0;
		    border-right: 1px solid #fff;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		    box-sizing: border-box;
		    &:last-child {
		    	border-right: 0;
		    }
		}
		.active {
			background-color: rgba(216, 216, 216, 0.59);
		    color: #000;
		}
	}

}