<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag :home %>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Pacifico" %>

<div id="welcome">
	<h1>loanify</h1>
	<% if user_signed_in? %>
		hello
	<% end %>
	<a href="/auth/facebook" id="fb">Facebook Log In / Sign Up</a>
</div>
