<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag :home %>

<div id="welcome">
	<h1>loanify</h1>
	<a href="/auth/facebook" id="fb">Facebook Log In / Sign Up</a>
</div>
